/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
/*--------------------*/

body {
	font-size: 16px;
}
.menu {
	width: 1300px;
	height: 85px;
	/*border: 2px solid red;*/
background: url(/IMG/Ellipse_3.png) 136px 25px no-repeat, url(/IMG/log1.png) 136px 34px no-repeat, url(/IMG/log2.png) 146px 18px no-repeat, url(/IMG/log3.png) 157px 25px no-repeat;
	margin: 0px auto;
	position: relative;
}
.menu__title {
	font-family: Nunito;
	color: #6d6e70;
	text-transform: uppercase;
	font-size: 31px;
	margin: 0px 0 0 177px;
	padding: 25px 0 0 0;
}

.menu__logo {
}
.menu__main {
	font-size: 13px;
	color: #666666;
	opacity: 0.67;
	text-transform: uppercase;
	text-align: center;
	line-height: 77px;
	margin: -50px 0 0 121px;
}

.li {
	display: inline;
	padding: 0 28px 0 0;
}
.menu__login {
	color: #ffffff;
	opacity: 0.81;
	font-size: 13px;
	text-transform: uppercase;
	margin: 10px 0 0 0;
}
.btn {
	/* Style for "Rounded Re" */
	width: 100px;
	height: 37px;
	background-color: #add136;
	opacity: 0.81;
	border-radius: 35px;
	color: #ffffff;
	opacity: 0.81;
	font-size: 13px;
	text-transform: uppercase;
	position: absolute;
	top: 0;
	right: 140px;
	margin: 25px 0 15px 0;
}

.become {
	max-width: 1300px;
	height: 920px;
	background: url(/IMG/Overlay.png) no-repeat, url(/IMG/Layer_15.png) no-repeat;

	margin: 0 auto;
	position: relative;
}
.become__title {
	display: block;
	color: #ffffff;
	font-size: 35px;
	text-align: center;
	font-weight: 400;
	line-height: 77px;
	margin: 0px 0 20px 0;
	padding: 170px 0 0 0;
}

.become__title::first-line {
	color: #ffffff;
	font-size: 49px;
	text-align: center;
	font-weight: 600;
}
.become__shape1 {
	background: url(/IMG/shape_left.png) no-repeat;
	width: 13px;
	height: 20px;
	position: absolute;
	top: 502px;
	left: 1102px;
}
.become__shape2 {
	background: url(/IMG/shape_right.png) no-repeat;
	width: 13px;
	height: 20px;
	position: absolute;
	top: 502px;
	left: 1142px;
}
.become__btn {
	width: 254px;
	height: 73px;

	color: #ffffff;
	font-size: 19px;
	text-align: center;
	border-radius: 5px;
}
.become__btn1 {
	width: 254px;
	height: 73px;
	background-color: #99c50a;
	color: #ffffff;
	font-size: 19px;
	line-height: 77px;
	text-align: center;
	border-radius: 15px;
	position: absolute;
	top: 330px;
	left: 527px;
}
.become__podpis {
	font-size: 35px;
	text-align: center;
	margin: 380px 0 0 0;
	text-transform: uppercase;
}
.lorem {
	width: 1300px;
	height: 750px;

	margin: 0 auto;
	position: relative;
}
.lorem__h {
	color: #515151;
	opacity: 0.71;
	font-size: 19px;
	text-align: center;
	margin: 0 0 50px 0;
}
.lorem__l {
	color: #515151;
	opacity: 0.71;
	font-size: 19px;
	text-align: center;
	margin: 0 0 175px 0;
}
.lorem__menu {
}
.lorem__menu li {
	display: inline-block;
	color: #656565;
	font-size: 33px;
	font-weight: 300;
	text-align: center;
	padding: 0 0 0 206px;
	margin: 0 0 113px 0;
}
.lorem__menu li::before {
	content: "12";
	width: 43px;
	height: 43px;
	border-radius: 50%;
	background-color: #add136;
}
.lorem__logo {
	width: 113px;
	height: 102px;
	background: url(/IMG/glasses.png) no-repeat;
	margin: 0 0 324px 249px;
}
.lorem__browse {
	color: #add136;
	font-size: 25px;

	margin: -470px 0 34px 467px;
}
.lorem__text {
	color: #606060;
	opacity: 0.67;
	font-size: 17px;
	text-align: left;
	width: 650px;
	height: 77px;
	margin: 0 0 0 467px;
	line-height: 33px;
}
.find {
	width: 1300px;
	margin: 0 auto;
	position: relative;
}
.find_l {
	background: url(/IMG/Layer_12_copy.png) no-repeat;
	width: 648px;
	height: 305px;
	position: absolute;
	top: 0;
	left: 0px;
}
.find__title {
	color: #515151;
	font-size: 23px;
	text-align: center;
	padding: 46px 0px 0 165px;
}
.find__text {
	color: #515151;
	font-size: 17px;
	text-align: left;
	line-height: 30px;
	margin: 34px 0 0 330px;
}
.find__logo {
	/* Style for "Vector Sma" */
	width: 133px;
	height: 112px;
	background: url(/IMG/Vector_Smart_Object.png) no-repeat;
	position: absolute;
	top: 84px;
	left: 141px;
}
.find__btn2 {
}
.btn2 {
	width: 187px;
	height: 51px;
	background-color: #26a6d1;
	border-radius: 10px;
	position: absolute;
	top: 206px;
	left: 322px;
}
.find_2 {
	background: url(/IMG/121.png) no-repeat;
	width: 648px;
	height: 305px;
	position: absolute;
	top: 0;
	left: 648px;
}
.find__title1 {
	color: #515151;
	font-size: 23px;
	text-align: center;
	margin: 46px 0 0 100px;
}
.find__text1 {
	color: #515151;
	font-size: 17px;
	text-align: left;
	line-height: 30px;
	margin: 30px 0 0 300px;
}
.find__logo1 {
	/* Style for "Vector Sma" */
	width: 101px;
	height: 92px;
	background: url(/IMG/kosh.png);
	position: absolute;
	top: 90px;
	left: 141px;
}
.find__btn3 {
}
.btn3 {
	/* Style for "Rounded Re" */
	width: 187px;
	height: 51px;
	background-color: #add136;
	border-radius: 10px;
	position: absolute;
	top: 206px;
	left: 298px;
}
.featured {
	width: 1300px;
	margin: 380px 0 0 300px;
	display: inline-block;
	border-radius: 15px;
	position: relative;
}
.featured__title {
	color: #515151;
	font-size: 29px;

	padding: 0 0 0 161px;
	margin: 0 0 26px 0;
}
.featured__text {
	color: #8f8f8f;
	font-size: 17px;
	text-align: left;
	padding: 0 0 0 161px;
	margin: 0 0 50px 0;
}
.featured__button {
	/* Style for "Rounded Re" */
	width: 181px;
	height: 50px;
	border: 1px solid #515151;
	background-color: #ffffff;
	opacity: 0.42;
	border-radius: 10px;
	text-align: center;
	padding: 17px 0 0 0;
	margin: 0px 0 0px 957px;
	position: absolute;
	top: 29px;
	right: 162px;
}
.featured__item {
}
.featured__columns {
	position: relative;
	margin: 20px 0 0px 0;
}
.featured__columns1 {
	background-color: #f7f7f7;
	background: url(/IMG/Layer_16.png) no-repeat;
	width: 300px;
	height: 520px;
	border: 1px solid rgba(0, 0, 0, 0.14);
	position: absolute;
	top: 20px;
	left: 162px;
}
.featured__title1 {
	color: #484848;
	font-size: 17px;
	font-weight: 700;
	text-align: center;
	margin: 240px 0 17px 0;
}
.featured__text1 {
	text-align: left;
	padding: 0 0 0 50px;
	opacity: 0.71;
	color: #484848;
	font-size: 13px;
}
.featured__lable1 {
	background: url(/IMG/Rectangle_1.png) no-repeat;
	width: 195px;
	height: 195px;
	position: absolute;
	top: 0;
	left: 0;
}
.featured__from1 {
	/* Style for "Rounded Re" */
	width: 139px;
	height: 35px;
	background-color: #26a6d1;
	border-radius: 10px;
	text-align: center;
	margin: -130px 0px 0 140px;
	color: #ffffff;
	font-size: 17px;
	font-weight: 700;
	padding: 10px 0 0 0;
}
.featured__scale1 {
	background: url(/IMG/green.png) no-repeat, url(/IMG/poloska.png) no-repeat;
	/* Style for "Rounded Re" */
	width: 38px;
	height: 14px;
	background-color: #add136;
	width: 248px;
	height: 14px;
	background-color: #e3e3e3;
	margin: 130px auto;
}
.featured__fund1 {
	display: inline;
	margin: 0px 0 0 0;
	padding: 0 0 50px 0;
	color: #8d8d8d;
	font-size: 13px;
	position: absolute;
	top: 380px;
	left: 22px;
}
.featured__days1 {
	color: #8d8d8d;
	font-size: 13px;
	position: absolute;
	top: 380px;
	left: 206px;
}
.featured__see1 {
	color: #8d8d8d;
	font-size: 16px;
	position: absolute;
	top: 440px;
	left: 120px;
	border: 5px solid transparent;
	border-left: 10px solid #add136;
}
.featured__columns2 {
	width: 300px;
	height: 520px;
	border: 1px solid rgba(0, 0, 0, 0.14);
	background-color: #f7f7f7;
	background: url(/IMG/Layer_20.png) no-repeat;
	position: absolute;
	top: 20px;
	left: 501px;
}
.featured__scale2 {
	background: url(/IMG/green2.png) no-repeat, url(/IMG/poloska.png) no-repeat;
	/* Style for "Rounded Re" */
	width: 38px;
	height: 14px;
	background-color: #add136;
	width: 248px;
	height: 14px;
	background-color: #e3e3e3;
	margin: 130px auto;
}
.featured__columns3 {
	width: 300px;
	height: 520px;
	border: 1px solid rgba(0, 0, 0, 0.14);
	background-color: #f7f7f7;
	background: url(/IMG/Layer_16.png) no-repeat;
	position: absolute;
	top: 20px;
	left: 838px;
}
.featured__scale3 {
	background: url(/IMG/green.png) no-repeat, url(/IMG/poloska.png) no-repeat;
	/* Style for "Rounded Re" */
	width: 38px;
	height: 14px;
	background-color: #add136;
	width: 248px;
	height: 14px;
	background-color: #e3e3e3;
	margin: 130px auto;
}
.part {
	margin: 600px 0 0 0;
	width: 1300px;
	height: 680px;
	background: url(/IMG/Layer_24.png) 769px 423px / 70px 68px no-repeat,
		url(/IMG/Layer_23.png) 216px 423px / 70px 68px no-repeat, url(/IMG/bg.png) 0 -130px / 1300px 680px no-repeat;
	margin: 600px auto;
	position: relative;
	z-index: 0;
}
.part__title {
	color: #9ec02d;
	font-size: 39px;
	text-align: center;
}
.part__text {
	color: #949494;
	font-size: 19px;
	text-align: center;
	margin: 42px 0 98px 0;
}
.part__columns {
	/* Style for "Rounded Re" */
}
.part__columns1 {
	width: 397px;
	height: 166px;
	background-color: #ffffff;
	border-radius: 15px;
	border-top: none;
	position: absolute;
	top: 235px;
	left: 173px;
}
.part__title1 {
	color: #9ec02d;
	font-size: 21px;
	text-align: center;
	padding: 25px 0 22px 0;
}
.part__text1 {
	width: 319px;
	height: 59px;
	color: #848484;
	font-size: 13px;
	text-align: center;
	padding: 0 0 0 36px;
	line-height: 25px;
	margin: 0 0 0 36px;
}
.part__comment1 {
	color: #494949;
	font-size: 15px;
	margin: 88px 0 0 137px;
}

.part__columns2 {
	width: 397px;
	height: 166px;
	background-color: #ffffff;
	border-radius: 15px;
	border-top: none;
	position: absolute;
	top: 235px;
	left: 725px;
}
.part__title2 {
	color: #9ec02d;
	font-size: 21px;
	text-align: center;
	padding: 25px 0 22px 0;
}
.part__comment2 {
	color: #494949;
	font-size: 15px;
	margin: 88px 0 0 137px;
}
.footer {
	width: 1300px;
	height: 197px;
	margin: -700px 0 69px 432px;
}
.footer__logo {
	background: url(/IMG/Layer_25.png) no-repeat;
	width: 1028px;
	height: 45px;
}
.footer__text {
	color: #848484;
	font-size: 13px;
	margin: 69px 0 0 0;
	padding: 0 0 0 376px;
